.glavnidiv{
    position: relative;
    border: 3px solid black;
    width: 800px;
    height: 220px;


}
#div1{
    position: absolute;
    border: 2px solid black;
    width: 295px;
    height: 75px;
    top: 15px;
    left: 15px;
    background-color: gold;
}
#div2{
    position: absolute;
    border: 2px solid black;
    width: 170px;
    height: 25px;
    top: 17px;
    right: 15px;
    background-color: chartreuse;
}
#div3{
    position: absolute;
    border: 2px solid black;
    width: 465px;
    height: 25px;
    top: 185px;
    right: 10px;
    background-color: cyan;
}