.glavnidiv{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4,3fr);
}
.box{
    padding: 4rem;
    border: 0.5rem solid white;
}
.div1{
    background-color: rgb(245, 78, 106);
    grid-column-start: 1;
    grid-column-end: 4;
}
.div2{
    background-color: rgb(245, 78, 106);
    grid-column-start: 4;
    grid-column-end: 4;
}
.div3{
    background-color: rgb(247, 169, 25);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 2;
}
.div4{
    background-color: purple;
    grid-column-start: 2;
    grid-column-end: 5;
}
.div5{
    background-color: purple;
    grid-column-start: 2;
    grid-column-end: 5;
}
.div6{
    background-color: rgb(49, 118, 247);
    grid-column-start: 1;
    grid-column-end: 2;
    width: 185px;
}
.div7{
    background-color: rgb(49, 118, 247);
    grid-column-start: 2;
    grid-column-end: 3;
    width: 710px;
}
.div8{
    background-color: rgb(49, 118, 247);
    grid-column-start: 3;
    grid-column-end: 5;
    width: 185px;
}